/* PHASE 0: Reset */
@import url("https://use.fontawesome.com/releases/v5.0.9/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Roboto");
html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  font-family: 'Robot', sans-serif; }

ul {
  list-style: none; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: lightgray; }

label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

img {
  display: block;
  width: 100%;
  height: auto; }

input[type="password"],
input[type="email"],
input[type="text"] {
  padding: 5px 10px; }

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none; }

button,
input[type="submit"] {
  cursor: pointer; }

/* Clearfix */
.group::after {
  content: "";
  display: block;
  clear: both; }

nav {
  position: fixed;
  height: 75px;
  top: 0;
  padding: 15px;
  width: 100%;
  background: linear-gradient(#bdc3c7, #bdc3c7);
  display: flex;
  align-items: center;
  justify-content: space-between; }
  nav ul {
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: space-around;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px; }
  nav li {
    cursor: pointer; }
  nav li:hover {
    text-decoration: underline; }

.about-cover-photo {
  position: realative;
  width: 100%;
  height: 700px;
  overflow: hidden; }
  .about-cover-photo img {
    width: 100%;
    object-fit: cover; }

.about-content {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  text-align: center;
  margin: auto; }

.avatar {
  position: fixed;
  top: 20px;
  left: 45%;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  overflow: hidden; }
  .avatar img {
    height: 100%;
    object-fit: cover; }

.footer {
  margin-top: 200px;
  padding-top: 30px;
  background: linear-gradient(#bdc3c7, #bdc3c7);
  width: 100%;
  height: 200px;
  text-align: center; }
  .footer div {
    width: 50%;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: space-around; }
    .footer div i {
      font-size: 48px; }
    .footer div i:hover {
      transition: all 0.5s; }
    .footer div .fa-linkedin:hover {
      color: #0073b1; }
    .footer div .fa-weibo:hover {
      color: #df2029; }
    .footer div .fa-github-square:hover {
      color: white; }
    .footer div .fa-facebook-square:hover {
      color: #4267b2; }
    .footer div .fa-instagram:hover {
      background-image: -webkit-linear-gradient(to right, #fa709a 0%, #fee140 100%);
      background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      color: transparent;
      transition: all 0.5s;
      -webkit-transition: all 0.5s; }
  .footer p {
    margin-top: 30px; }

/*# sourceMappingURL=style.css.map */
